 
 html {
	 height: 100%;
 }
 
 body {
	 background-image: url("Multimedia/Images/backgroundBlueStripesDirty.jpeg");
	 background-repeat: repeat;
	 min-height: 100%;
	 height: 100%;
	 font-family: 'Roboto', serif;
	 color: #363d4b;
 }
 
 .blocksContainer{
	 background-color: rgba(90, 145, 168, 0) ;
	 float: left;
	 margin: 10px;
	 padding: 10px;
	 width: 100%;
	 height: 100%;	
 }
 
 footer {
	 background-color: rgba(90, 145, 168, 0.6) ;
	 padding: 1em;
	 color: white;
	 clear: left;
	 text-align: center;
 }
 
 .floatingBlock {
	 background-color: rgba(90, 145, 168, 0.6) ;
	 float: left;
	 margin:1%;
	 padding: 1%;
	 width: 200px;
	 height:200px;
	 cursor: pointer;
 }
 
 
 
 .floatingBlock:hover{
	 background-color: rgba(90, 145, 168, 0.7) ;
	 float: left;
	 margin:1%;
	 padding: 1%;
	 padding-bottom: 1%;
	 border-bottom-left-radius: 2em;
 }
 
 
 header {
	 background-color: rgba(90, 145, 168, 0.6) ;
	 display: block;
	 padding: 1em;
	 color: white;
	 clear: left;
	 text-align: center;
 }
 
 header a {
	 float: left;
	 display: block;
	 text-align: center;
	 padding: 14px 16px;
	 text-decoration: none;
	 font-size: 17px;
	 
	 text-decoration: none;
	 text-decoration:none !important;
 }
 
 header ul{
	 list-style-type: none;
	 padding: 0;
 }
 
 
 
 nav{
	 background-color:rgba(177, 216, 197, 0.8);
	 float: left;
	 width: 40%;
	 height: 80%;
	 margin: 0;
	 padding: 1em;
	 
 }
 nav ul {
	 list-style-type: none;
	 padding: 0;
 }
 
 nav ul a {
	 
	 text-decoration: none;
	 text-decoration:none !important;
	 background-color: #E4F5F8;
	 border:1px solid #C0DEED; 
 }
 
 
 article {
	 //background-color: #002b36;
	 height:80%;
	 padding: 1em;
	 overflow: hidden;
 }
 
 .divList{
	 padding: 1em;
	 cursor: pointer;
 }
 
 .divList:hover{
	 background-color: rgba(236, 236, 236, 0.8);
	 padding: 1em;
 }
 
 
 
 /*w3 schooll*/
 #myBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */	
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: blue; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
 }
 
 #myBtn:hover {
	background-color: #555; /* Add a dark-grey background on hover */
 }
 
 
textarea#myTextArea {
	 width: 90%;
	 height: 90%;
	 border: 3px solid #cccccc;
	 padding: 5px;
	 font-family: Tahoma, sans-serif;
	 background-image: url(bg.gif);
	 background-position: bottom right;
	 background-repeat: no-repeat;
 }
 
 
 #iframeElement{
	width: 90%;
	height: 90%;
	margin-top: 20px;
	margin-bottom: 30px;
	
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
}
 
#plantUml{
	overflow: auto;
	max-height: 100vh;
}
 
 
 
 
 
 
 
